body {
  background-color: #222323;
	color:white;
	padding-inline: 10px;
  text-align: center;
  justify-content: center;
  align-content: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 0 0;
}
.footer a {
  color: rgb(97, 97, 168);
  display: inline-block;
  text-align: center;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}
.footer image {
  display: inline-block;
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50% ;
  background-color: #222323;
  color: white;
  text-indent: 10px;
  min-height: 225px;
  text-align: left;
  border:#087908;
  border-radius: 5px;
  overflow:auto;
}
.favorites {
  text-align: center;
}
.favoriteLI {
  display: inline-block;
  text-align: left;
}
.row {
  display: grid;
  width: 100%;
  display: table;
  clear: both;
  background-color: #222323;
  color:white;
  padding-inline: 10px;
  box-sizing: border-box;
}
a:link.normalLink, a:visited.normalLink {
  background-color: #087908;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  align-content: center;
}

ul.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  justify-content: center;
  align-content: center;
}

.navBar li {
  width: 20%;
  list-style-type: none;
  float: left;
}
.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navBar li a:hover:not(.active) {
  background-color: #111;
}
.navBar .active {
  background-color: #087908;
}
.messageBox {
  height: 75px;
  width: 300px;
}
.email_error {
  display: none;
  color: red;
}
.phone_error {
  display: none;
  color: red;
}
.success {
  display: none;
  color: green;
}
