.column {
  float: left;
  width: 50%;
  background-color:darkslategrey;
  color:beige;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.edge {
  background-color:darkslategrey;
  color:beige;
}
